[submodule "arts-analysis"]
	path = external/arts-analysis
	url = https://github.com/liamconnor/arts-analysis.git
[submodule "single_pulse_ml"]
	path = external/single_pulse_ml
	url = https://github.com/AA-ALERT/single_pulse_ml.git
